#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #ECF4E8;
}

#navbar-logo {
    font-size: 28px;
    font-weight: 700;
}

#logo-learn-navbar {
    font-weight: 800;
    color: #2c85a8;
}

#navbar-list {
    font-size: 20px;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar-list>a {
    margin: 0 10px;
    border-bottom: 1px solid transparent;
    font-weight: 700;
}

#navbar-list > a {
    position: relative; /* ضروري */
    padding-bottom: 5px; /* مساحة صغيرة للنقطة */
    color: black;
    text-decoration: none;
}

/* النقطة تحت الرابط */
#navbar-list > a::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #0069d3; /* لون النقطة */
    border-radius: 50%;
    position: absolute;
    bottom: -4px; /* مكان النقطة */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* مخفية */
    transition: opacity 0.3s ease;
}

/* عند الـ hover تظهر النقطة بدل الخط */
#navbar-list > a:hover {
    color: #0069d3;
}

#navbar-list > a:hover::after {
    opacity: 1;
}


#navbar-list>button {
    margin-left: 20px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

#navbar-list>button:hover {
    color: white;
    background-color: #67C090;
    border: 2px solid #67C090;
    cursor: pointer;
}