@import "tailwindcss";

#home-loading{
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#home-loading-text{
    width: 400px;
}
#home-loading-text>h4{
    font-size: 22px;
    font-weight: 600;
    color: black;
}
#home-loading-text>button{
    margin: 20px 0;
    font-size: 26px;
    font-weight: 600;
    border: 2px solid black;
    padding: 5px 7px;
    border-radius: 10px;
    cursor: pointer;
}
#home-loading-text>button:hover{
    background-color:#0069d3 ;
    color: white;
    border: 2px solid #0069d3;
}
#home-loading-image{
    width: 700px;
}