@import "tailwindcss";

#home-loading{
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#home-loading-text{
    width: 400px;
}
#home-loading-text>h4{
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.705);
}
#home-loading-text>button{
    margin: 20px 0;
    font-size: 26px;
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, 0.705);
    padding: 5px 7px;
    border-radius: 5px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.705);
}
#home-loading-text>button:hover{
    background-color:#FEE490 ;
    color: black;
    border: 2px solid #FEE490;
}
#home-loading-image{
    width: 700px;
}