@import "tailwindcss";

/* ! Title path */
.home-title,
#home-process>h3 {
    font-size: 26px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ! Loadin path */
#home-loading {
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#home-loading-text {
    width: 400px;
}

#home-loading-text>h4 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.705);
}

#home-loading-text>button {
    margin: 20px 0;
    font-size: 22px;
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, 0.705);
    padding: 5px 7px;
    border-radius: 10px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.705);
}

#home-loading-text>button:hover {
    background-color: #FEE490;
    color: black;
    border: 2px solid #FEE490;
}

#home-loading-image {
    width: 700px;
}

/* ! Subjects path */

#home-subjects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    list-style: none;
}

.home-subjects-subject {
    height: 250px;
    width: 170px;
    background-color: #c8c8c86b;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-subjects-subject>img,
.home-subjects-subject>svg {
    height: 80px;
    object-fit: cover;
}

.home-subjects-subject>h3 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
}

/* ! Process path */
#home-process {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

#home-process>h3 {
    margin-bottom: 70px;
}

#home-process-login {
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home-process-login>svg {
    padding: 10px;
    border-radius: 10px;
    background-color: darkcyan;
    margin-bottom: 20px;
    fill: white;
    width: 80px;
    height: 80px;
}

#home-process-login>h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}